body {
    text-align: center;
    font-family: Helvetica, sans-serif;
}
.background {
    background-image: url("/Users/haack79/Codecademy_Projects/Broadway/resources/images/the-flatiron-building.png");
    font-size: cover;
}
h1 {
    font-size: 70px; 
    font-weight: bold;
    color: white;
}
h2 {
    font-size: 32px;
    font-weight: bold;
}
h3 {
    font-size: 23px;
    font-weight: bold;
}
.nav {
    font-size: 18px;
    color: white;
}
.lines {
    font-size: 14px; 
}
#designed {
    font-size: 23px;
    font-weight: bold;
    color: white;
}
#footer {
    background-color: dimgray;
}
nav {
    text-align: left;
}
span {
    font-size: 11px;
    color: white;

}